---
import ChangeThemeButton from '@Components/React/ChangeThemeButton/ChangeThemeButton';
import getTranslation from 'src/helpers/getTranslation';
import ChangeLanguageSelect from '@Components/React/ChangeLanguageSelect/ChangeLanguageSelect';
export const prerender = true;
const { pathname } = Astro.url;
const currentLocale = getTranslation(pathname);
const root = Astro.currentLocale === 'en' ? '/en' : '/';

const { nav } = currentLocale;

interface Props {
  visible: boolean;
}

const { visible } = Astro.props;
console.log(visible);
---

<header
  class="fixed top-0 left-0 right-0 h-[64px] min-h-[64px] w-[100%] flex flex-wrap justify-between py-1 px-4 sm:px-6 items-center z-50 border border-gray-300 dark:border-neutral-800 rounded bg-gray-100 dark:bg-violet-950"
>
  <ChangeThemeButton client:only="react">
    <div role="status" slot="fallback" class="w-[40px] h-[20px] animate-pulse">
      <div class="h-full w-full bg-gray-200 rounded-full dark:bg-gray-700">
      </div>
    </div>
  </ChangeThemeButton>

  <nav
    id="navbar"
    class=`hidden transition-transform p-4 ${visible === true ? 'sm:block' : 'sm:hidden'} sm:translate-y-0 sm:static sm:p-0 w-full sm:w-auto text-sm lg:text-base`
  >
    <ul
      class="flex flex-col items-center gap-4 lg:gap-8 border border-dashed border-gray-500 rounded-md font-semibold text-gray-500 p-4 sm:p-2 sm:border-none sm:flex-row text-[16px]"
    >
      {
        nav.navLinks.map((navItem, i) => (
          <li>
            <a
              href={navItem.hash}
              class="hover:text-gray-950 dark:hover:text-white dark:text-gray-400"
            >
              {navItem.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <ChangeLanguageSelect
    currentLocale={Astro.currentLocale ?? 'es'}
    client:only="react"
  >
    <div role="status" slot="fallback" class="w-[90px] h-[23px] animate-pulse">
      <div class="h-full w-full bg-gray-200 rounded-full dark:bg-gray-700">
      </div>
    </div></ChangeLanguageSelect
  >
  <!-- <Test /> -->
</header>
